.grid {
    height: 400px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}

.grid div{
    height: 32px;
    width: 32px;

    background: #c0c0c0;
    border: 4px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
}

.bomb {
    background-color: orange;
}

.checked {
    background-color: red;
}